.header-content {
    width: 100%;
    background: rgb(20, 20, 20);
    border-bottom: 1px solid rgb(91, 91, 91);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
    box-sizing: border-box;
    /* border: 1px solid rgb(255, 255, 255); */
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.info h1 {
    margin: 0;
    padding: 0;
    font-size: 94px;
    box-sizing: border-box;
    cursor: pointer;
    /* border: 1px solid white; */
}

.info h1:hover {
    color: #66fcf1;
}

.info p {
    margin: 20px 0 0 0;
    padding-left: 4px;
    color: #66FCF1;
    font-size: 46px;
    font-weight: 600;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-left: 10px;
    /* border: 1px solid white; */
}

.header img {
    width: 100%;
}

@media(max-width: 1030px) {
    .info h1 {
        font-size: 70px;
    }

    .info p {
        font-size: 30px;
    }
}

@media(max-width: 768px) {
    .info h1 {
        font-size: 40px;
    }

    .info p {
        font-size: 22px;
    }
}

@media(max-width: 550px) {
    .info {
        padding-top: 10px;
    }
    
    .info h1 {
        font-size: 32px;
    }

    .info p {
        font-size: 16px;
        margin: 10px 0 0 0;
    }
}