<div class="footer-content">

    <div class="footer">

        <div class="column">
            <!-- <img src="assets/svgs/angular.svg" alt="angular.svg"> -->
            <h1>Angular</h1>
        </div>

        <div class="column">
            <!-- <img src="assets/svgs/springboot.svg" alt="springboot.svg"> -->
            <h1>Spring Boot</h1>
        </div>

        <div class="column">            
            <h2>Contact</h2>
            <span class="contact">
                <img src="assets/svgs/location-dot.svg" alt="mysql.svg">
                <p>Deva, Neptun 359</p>
            </span>
            <span class="phone">
                <img src="assets/svgs/phone-dial.svg" alt="mysql.svg">
                <p>(+40) 763 13 44 44</p>
            </span>
            <span class="email">
                <img src="assets/svgs/envelope.svg" alt="mysql.svg">
                <p>niculuka@yahoo.com</p>
            </span>
        </div>
        
    </div>

</div>