.footer-content {
    width: 100%;
    padding:  0;
    background: rgb(20, 20, 20);
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    color: #66fcf1;
}

.column {
    padding: 10px;
    background: rgb(20, 20, 20);
    /* border: 1px solid grey; */
}

.column h1 {
    color: white;
    margin: 0;
    /* border: 1px solid grey; */
}

.column h3 {
    display: block;
    margin: 4px 0;
    font-weight: 100;
    /* color: rgb(222, 222, 222); */
    /* border: 1px solid grey; */
}

.column h4 {
    display: block;
    margin: 4px 0;
    font-weight: 100;
    /* color: rgb(222, 222, 222); */
    /* border: 1px solid grey; */
}

.divider {
    display: block;
    width: 50%;
    height: 1px;
    background: #66fcf1;
    /* border: 1px solid rgb(255, 0, 0); */
}

.column span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    color: rgb(222, 222, 222);
    /* border: 1px solid rgb(255, 0, 0); */
}

/* --------------------------------------- icons size */
.pencil img {
    width: 14px;
}

.angular img {
    width: 16px;
}

.springboot img {
    width: 16px;
}

.mysql img {
    width: 20px;
}

.address img {
    width: 12px;
    /* border: 1px solid red; */
}

.phone img {
    width: 20px;
    /* border: 1px solid red; */
}

.email img {
    width: 16px;
    /* border: 1px solid red; */
}

.column span p {
    margin: 10px 0;
}

.privacy {
    cursor: pointer;
}

.privacy p:hover {
    color: #66fcf1;;
}

@media(max-width: 1030px) {}

@media(max-width: 768px) {}

@media(max-width: 550px) {
    .footer {
        grid-template-columns: 1fr;
    }
}