<div class="footer-content">

    <div class="footer">

        <div class="column main">
            <!-- <img src="assets/svgs/angular.svg" alt="angular.svg"> -->
            <h1 routerLink="/">Nicolae Luca</h1>

            <h4>Projecting and executing real e-commerce websites</h4>
        </div>

        <div class="column">
            <h3>Technologies</h3>
            <span class="divider"></span>
            <span class="pencil">
                <img src="assets/svgs/pencil.svg" alt="pencil.svg">
                <p>UI Design</p>
            </span>
            <span class="angular">
                <img src="assets/svgs/angular.svg" alt="angular.svg">
                <p>Frontend – Angular</p>
            </span>
            <span class="springboot">
                <img src="assets/svgs/springboot.svg" alt="springboot.svg">
                <p>Backend – Spring Boot</p>
            </span>
            <span class="mysql">
                <img src="assets/svgs/mysql.svg" alt="mysql.svg">
                <p>DataBase – MySql</p>
            </span>
        </div>

        <div class="column">
            <h3>Contact</h3>
            <span class="divider"></span>
            <span class="address">
                <img src="assets/svgs/location-dot.svg" alt="location.svg">
                <p>Deva, Neptun 359</p>
            </span>
            <span class="phone">
                <img src="assets/svgs/phone-dial.svg" alt="phone.svg">
                <p>(+40) 763 13 44 44</p>
            </span>
            <span class="email">
                <img src="assets/svgs/envelope.svg" alt="envelope.svg">
                <p>niculuka@yahoo.com</p>
            </span>
            <span class="privacy" routerLink="privacy-policy">
                <img src="assets/svgs/shield-shaded.svg" alt="shield.svg">
                <p>Privacy Policy</p>
            </span>
        </div>

    </div>

</div>