<div class="body-container">

    <div class="body">

        <div class="items">

            <h2>PORTFOLIO:</h2>
            <div class="buttons">
                <li *ngFor="let href of portfolioHrefs">
                    <a [href]="href.url" target="_blank">{{href.name}}</a>
                </li>
            </div>

        </div>

        <div class="items git">

            <h2>GitHub:</h2>
            <div class="buttons">
                <li>
                    <a [href]="developer.url" target="_blank">{{developer.name}}</a>
                </li>
            </div>

        </div>

    </div>

</div>