<div class="body-content">

    <div class="body">

        <div class="items">

            <h2>PORTFOLIO:</h2>
            <div class="buttons">
                <button class="btn-main" (click)="goToFunerar()">FUNERAR ALEXANDRU</button>
                <button class="btn-main" (click)="goToWeather()">WEATHER FORECAST</button>
                <button class="btn-main" (click)="goToElectoRoroom()">ELECTRO ROOM</button>
                <button class="btn-main" (click)="goToFoodStore()">FOOD STORE</button>
            </div>


            <h3>GitHub:</h3>
            <div class="buttons">
                <button class="btn-main" (click)="goToGitHub()">github.com/niculuka</button>
            </div>

        </div>

    </div>

</div>