<div class="block-content">

    <div class="block">

        <div class="angular">
            <img src="assets/svgs/angular.svg" alt="angular.svg">
            <h1>Angular</h1>
        </div>

        <div class="spring">
            <img src="assets/svgs/springboot.svg" alt="springboot.svg">
            <h1>Spring Boot</h1>
        </div>

        <div class="mysql">
            <img src="assets/svgs/mysql.svg" alt="mysql.svg">
            <h1>MySQL</h1>
        </div>
        
    </div>

</div>