.block-content {
    width: 100%;
    border-bottom: 1px solid rgb(91, 91, 91);
}

.block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
    max-width: 1200px;
    margin: 50px auto;
    box-sizing: border-box;
    color: #66fcf1;
}

.angular,
.spring,
.mysql {
    padding: 20px;
    border: 2px solid #66fcf1;
    background: rgb(20, 20, 20);
}

img {
    width: 60px;
}

h1 {
    color: white;
}

@media(max-width: 1030px) {}

@media(max-width: 768px) {
    .block {
        display: grid;
        grid-template-columns: 1fr;  
        width: 90%; 
        margin: 40px auto;
    }

    img {
        width: 50px;
    }
}

@media(max-width: 550px) {
    .block {
        margin: 30px auto;
        padding: 0;
    }

    img {
        width: 40px;
    }
    
    h1 {
        font-size: 22px;
    }
}