<div class="block-container">

    <div class="block-content">

        <div class="block">
            <img src="assets/svgs/angular.svg" alt="angular">
            <h1>Angular</h1>
        </div>

        <div class="block">
            <img src="assets/svgs/springboot.svg" alt="springboot">
            <h1>Spring Boot</h1>
        </div>

        <div class="block">
            <img src="assets/svgs/mysql.svg" alt="mysql">
            <h1>MySQL</h1>
        </div>
        
    </div>

    <div class="block-content">

        <div class="block">
            <img src="assets/svgs/wordpress.svg" alt="wordpress">
            <h1>WordPress</h1>
        </div>

        <div class="block">
            <img src="assets/svgs/divi.svg" alt="divi">
            <h1>Divi Builder</h1>
        </div>
        
    </div>

</div>